## VCF results format

In [1]:
import toytree
import ipcoal

### Define the species tree model

In [2]:
tree = toytree.rtree.unittree(6, 1e6)

### Define the coalescent model

In [4]:
model = ipcoal.Model(tree, Ne=1e6, nsamples=2)

### Simulate data

In [11]:
model.sim_loci(10, 2000)

### Show results

In [12]:
model.df

     locus  start   end  nbps  nsnps  tidx                    genealogy
0        0      0   143   143     27     0  ((r1-1:1.20196e+06,(r5-0...
1        0    143   233    90     17     1  ((r2-0:855659,(r0-0:2968...
2        0    233   407   174     35     2  ((r2-0:855659,(r0-0:2968...
3        0    407   431    24      3     3  ((r2-0:855659,(r0-0:2968...
4        0    431   436     5      0     4  (((r1-0:855958,(r3-0:627...
..     ...    ...   ...   ...    ...   ...                          ...
301      9   1827  1838    11      0    30  (r5-0:3.36857e+06,(((r3-...
302      9   1838  1868    30      5    31  ((((r3-0:416625,r3-1:416...
303      9   1868  1905    37      8    32  ((r5-0:1.6497e+06,(r4-0:...
304      9   1905  1949    44      7    33  (((r4-0:1.31584e+06,r5-1...
305      9   1949  2000    51      9    34  ((((r3-0:416625,r3-1:416...

[306 rows x 7 columns]

In [15]:
model.write_vcf(diploid=True)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,r0,r1,r2,r3,r4,r5
0,0,9,.,A,C,99,PASS,.,GT,0|0,0|1,0|0,0|0,0|0,1|1
1,0,15,.,G,T,99,PASS,.,GT,0|0,1|0,0|1,1|1,1|1,0|0
2,0,17,.,G,C,99,PASS,.,GT,0|0,0|0,0|0,1|1,0|0,0|0
3,0,21,.,C,G,99,PASS,.,GT,0|0,1|0,0|1,1|1,1|1,0|0
4,0,23,.,C,A,99,PASS,.,GT,1|0,0|0,0|0,0|0,0|0,0|0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3322,9,1969,.,A,C,99,PASS,.,GT,0|0,0|0,0|1,0|0,0|0,0|0
3323,9,1973,.,A,C,99,PASS,.,GT,1|0,0|1,0|0,1|1,0|0,0|0
3324,9,1976,.,T,G,99,PASS,.,GT,0|1,0|0,0|0,0|0,0|0,0|0
3325,9,1978,.,A,"C,G",99,PASS,.,GT,1|2,2|0,2|2,0|0,0|0,0|0
3326,9,1994,.,G,A,99,PASS,.,GT,0|0,0|0,1|0,0|0,0|0,0|0